html {
  height: 100&;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #edafb8, #fae1dd);
  color: #4a5759;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Gideon Roman', cursive;
  font-family: 'Neonderthaw', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
}

/* * {
  border: 2px solid red;
} */

/*------------------- LOGIN PAGE ------------------*/

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 40vh;
  width: 50%;
}

.login {
  border-radius: 15px;
  border: none;
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-family: 'Bebas Neue', cursive; 
  color: #4a5759;
  background-color: #E8E8E4;
  height: 25px;
  width: 80px;
}

/*---------------- DASHBOARD - HEADER ----------------------*/

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f8edeb;
  margin-top: 3%;
  height: 40vh;
  width: 80%;
  border-radius: 35px;
}

h1 {
  width: 100%;
  margin: 0%;
  /* margin-left: 5%; */
  font-family: 'Bebas Neue', cursive;
  font-size: 500%;
}


h2 {
  font-size: 200%;
  font-weight: bold;
}

p {
  text-align: center;
  font-size: 120%;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100%; */
  width: 50%;
}

.welcome-message {
  margin-left: 10%;
}

.travel-quote {
  width: 100%;
  margin: 1%;
  margin-left: 10%;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.travel-banner {
  height: 100%;
  border-radius: 35px;
  /* width: 90%; */
}

/*------------------- DASHBOARD - TRIPS --------------------*/

.trips-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  margin-top: 1.5%;
  width: 80%;
  height: 60vh;
}

div {
  border-radius: 35px;
  background-color: #E8E8E4;
}

.left-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  width: 35%;
}

.your-travels {
  margin-left: 5%;
  width: 90%;
  text-align: center;
}

.right-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* height: 100%; */
  width: 65%;
  margin: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.trip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8edeb;
  border-radius: 35px;
  height: 90%;
  /* width: 60%; */
  margin: 3%;
}

.tile-image {
  width: 300px;
  height: 300px;
  /* margin: 5%; */
  object-fit: cover;
  /* border-radius: 35px; */
  /* margin: 5%; */
}

/*---------------- DASHBOARD - TOTAL SPENT ------------*/

.total-spent-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 15vh;
  margin-top: 1.5%;
  border-radius: 35px;
  background-color: #ffe5d9;
}

.total-message {
  width: 100%;
  font-size: 200%;
}

/*-------------- DASHBOARD - BOOK TRIP ----------------*/

.plan-travel-container {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: flex-end; */
  /* text-align: right; */
  margin-bottom: 3%;
  width: 80%;
  height: 45vh;
  margin-top: 1.5%;
  border-radius: 35px;
  background-color: #f8edeb;
}

.left-side-booking {
  display: flex;
  align-items: center;
  width: 60%;
}

.booking-banner {
  border-radius: 35px;
  height: 100%;
}

.right-side-booking {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: right;
  /* height: 100%; */
  width: 40%;
}

.book-travel-form {
  margin-right: 10%;
  /* height: 30%; */
  /* width: 90%; */
  font-size: 150%;
}

.chosen-place {
  text-align: right;
}

.submit-button {
  border-radius: 15px;
  border: none;
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-family: 'Bebas Neue', cursive; 
  color: #4a5759;
  background-color: #f8edeb;
  height: 25px;
  width: 80px;
}

.book-trip-message {
  margin-top: 5%;
  margin-right: 10%;
  margin-bottom: 2%;
  font-size: 300%;
  /* width: 89%; */
}

.trip-message {
  text-align: right;
}

.hidden {
  display: none!important;
}
