html {
  height: 100&;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #edafb8, #fae1dd);
  color: #4a5759;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Gideon Roman', cursive;
  font-family: 'Neonderthaw', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
}

/* * {
  border: 2px solid red;
} */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f8edeb;
  margin-top: 3%;
  height: 40vh;
  width: 80%;
  border-radius: 35px;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
}

h1 {
  width: 100%;
  margin: 0%;
  margin-left: 5%;
  font-family: 'Bebas Neue', cursive;
  font-size: 400%;
}

.travel-quote {
  width: 100%;
  margin: 1%;
  margin-left: 5%;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.travel-banner {
  height: 100%;
  border-radius: 35px;
  /* width: 90%; */
}

.trips-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  margin-top: 1.5%;
  width: 80%;
  height: 90vh;
}

div {
  border-radius: 35px;
  background-color: #E8E8E4;
}

.left-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 35%;
}

.your-travels {
  margin-left: 5%;
  width: 100%;
}

.right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 65%;
}

.trip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tile-image {
  width: 80%;
  border-radius: 35px;
}

.total-spent-banner {
  width: 80%;
  height: 30vh;
  margin-top: 1.5%;
  border-radius: 35px;
  background-color: #ffe5d9;
}

.plan-travel-container {
  width: 80%;
  height: 40vh;
  margin-top: 1.5%;
  border-radius: 35px;
  background-color: #f8edeb;
}